<section id="contact">
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Nairobi</div>
          <div class="text-two">Kenya</div>
        </div>
        <!-- <div class="phone details"> -->
          <!-- <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">+2547</div> -->
          <!-- <div class="text-two">+2547</div> -->
        <!-- </div> -->
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">susanwairimu177@gmail.com</div>
        </div>
      </div>

      <div class="right-side">
        <div class="topic-text"><h3>Get Social: </h3></div>
        <div class="social-icons">
          <a href="https://github.com/Susan56789" target="_blank"><i class="fab
              fa-github"></i></a>
          <a href="https://twitter.com/its_nimoh" target="_blank"><i class="fab
              fa-twitter"></i></a>
          <a href="https://www.linkedin.com/in/susan-macharia-902704174/"
            target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/w.a.i.r.i.m.u.__/" target="_blank"><i
              class="fab fa-instagram"></i></a>
          <a href="https://stackoverflow.com/users/12721767/susan"
            target="_blank"><i class="fab fa-stack-overflow"></i></a>
          <a href="https://medium.com/@devnimoh" target="_blank"><i class="fab fa-medium"></i></a>
        </div>

      </div>
    </div>
  </div>

</section>
