<div class="d-flex justify-content-center vw-90 mx-auto" *ngIf="bio$ | async as bio">
  <div *ngFor="let options of respOptions" [ngClass]="options.viewClasses"
    class="flex-column align-items-center text-center w-75">
    <h1 [ngClass]="options.headingClass" class="mb-5">
      <span class="font-weight-bold">About</span> Me
    </h1>

    <div *ngFor="let par of bio.about">
      <h4 *ngIf="!options.useSmallerHeadings" class="mb-4">{{ par }}</h4>
      <h5 *ngIf="options.useSmallerHeadings" class="mb-4">{{ par }}</h5>
    </div>

    <div>
      <div class="container px-5 py-10 mx-auto">
        <div class="text-center mb-20">
          <h1 class="sm:text-4xl text-3xl font-medium title-font text-black mb-4">
            Skills &amp; Technologies
          </h1>
          <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
            Living, learning & leveling up one day at a time.
          </p>
        </div>
        <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
          <div class="p-2 sm:w-1/2 w-full">
            <main class="wrapper">
              <article class="badge orange">
                <div class="rounded"><i class="fab fa-html5"></i></div>
              </article>
              <article class="badge blue">
                <div class="rounded"><i class="fab fa-css3-alt"></i></div>
              </article>
              <article class="badge gold">
                <div class="rounded"><i class="fab fa-js"></i></div>
              </article>
              <article class="badge blue">
                <div class="rounded"><i class="fab fa-react"></i></div>
              </article>
              <article class="badge red">
                <div class="rounded"><i class="fab fa-angular"></i></div>
              </article>
              <article class="badge green">
                <div class="rounded"><i class="fab fa-node"></i></div>
              </article>
              <!---<article class="badge crimson">
                <div class="rounded"><i class="fab fa-npm"></i></div>
              </article>-->
              <article class="badge steel">
                <div class="rounded"><i class="fab fa-python"></i></div>
              </article>
              <!----
              <article class="badge pink">
                <div class="rounded"><i class="fab fa-sass"></i></div>
              </article>
              <article class="badge rebecca">
                <div class="rounded"><i class="fab fa-bootstrap"></i></div>
              </article>
              -->
              <article class="badge blue">
                <div class="rounded"><i class="fab fa-wordpress"></i></div>
              </article>
            </main>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div></div>
