.min-vh-95 {
  height: 95vh;
}

.hero-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

@media only screen and (max-width: 768px) {
  .hero-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 320px) {
  .hero-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}
