span {
  color: #666;
  font-size: 15 px;
  display: block;
  text-align: center;
}

.fab {
  color: #7e3737;
  margin: 0 3px;
  font-size: 12px;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}
@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

.footer {
  clear: both;
  position: relative;
  bottom: 0;
  height: 200px;
  margin: -200px;
}
