.post-card {
    width: 290px;
    height: 400px;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.5);
}

img{
    width: 200px;
    height: 200px;
}

.post-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20ch;
}

