* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Nunito", Arial, Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(248, 237, 237)196, 185, 185)196, 185, 185);

  background-size: 30px 30px;

  -webkit-animation: Animation 5s ease infinite;
  -moz-animation: Animation 5s ease infinite;
  animation: Animation 5s ease infinite;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

@-moz-keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

@keyframes Animation {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

.vw-90 {
  width: 90vw;
}

.vw-80 {
  width: 80vw;
}

.vw-70 {
  width: 80vw;
}

.min-vh-10 {
  min-height: 10vh;
}

@media only screen and (max-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 320px) {
  html,
  body {
    width: 100%;
    height: 100%;
  }
}
